.container{
  width: 800px;
  background-color: #f8f9fa;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.item{
  flex: 0 0 calc(25%);
  height: 120px;
  background: white;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  user-select: none;
  font-size: 18px;
}

.placeholder{
  background-color: rgba(0,0,0,0.05);
  color: transparent;
}

.dragging{
  position: fixed;
  pointer-events: none;
  opacity: 0.7;
}